{% extends "base.html" %}
{% block title %}Livre{% endblock %}
{% block body %}
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12 col-md-2"><img src="{{book.image_url[0]}}" style="height:250px"/></div>
        <div class="col-sm-12 col-md-10">
            <h2 style="text-align:center">{{book.original_title[0]}}</h2>
            <h3 style="text-align:center">{{book.authors[0]}}</h3>
        </div>
    </div>
</div>
<div class="container-fluid">
    <hr class="mb-5"/>
<div style="text-align:center; color: #dc3545;">
    <h2>Recommandation par authors : </h2>
</div>
</div>

<div class="netflix">
    <!-- Swiper -->
    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
        {% for key,value in best_authors.iterrows() %}
            <div class="swiper-slide" style="height:fit-content;">
                <a href="{{ url_for('main.find_book', book_id=value[0]) }}">
                    <img style="height: auto; height:auto;" src="{{ value[21] }}" />
                </a>
            </div>
        {%endfor%}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

*, *::before, *::after {
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    min-height: 100vh;
    background-color: #eee;
    background-size: 10px 10px;
    background-image:
        radial-gradient(circle at 50% 50%, #ddd, #ddd 1px, transparent 1px),
        radial-gradient(circle at 0 0, #ddd, #ddd 1px, transparent 1px),
        radial-gradient(circle at 0 100%, #ddd, #ddd 1px, transparent 1px),
        radial-gradient(circle at 100% 0, #ddd, #ddd 1px, transparent 1px),
        radial-gradient(circle at 100% 100%, #ddd, #ddd 1px, transparent 1px);
    color: #333;
}

:root {
    --clr-border: #333;
    --AnimationLength: 0px;
}

.content {
    width: 100%; max-width: 960px;
    padding: 2em 2em 10em;
}

h2 {
    margin: 1em auto;

    & span {
        color: #777;
    }
}

p {
    margin: 2em auto;
    font-weight: bold;
}

hr {
    height: 3px;
    border: none;
    margin: 4em auto;
    background-color: #aaa;
}
</style>

    <!-- Swiper JS -->
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

    <!-- Initialize Swiper -->
    <script>
      var swiper = new Swiper(".mySwiper", {
        slidesPerView: 5,
        spaceBetween: 30,
        pagination: {
          el: ".swiper-pagination",
          clickable: true,
        },
      });
    </script>
{% endblock %}